@font-face {
  font-family: "Goldman Sans";
  src: url("./assets/font/GoldmanSans_W_Bd.woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Goldman Sans";
  src: url("./assets/font/GoldmanSans_W_BdIt.woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Goldman Sans";
  src: url("./assets/font/GoldmanSans_W_Blk.woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Goldman Sans";
  src: url("./assets/font/GoldmanSans_W_It.woff2");
  font-weight: light;
  font-style: italic;
}

@font-face {
  font-family: "Goldman Sans";
  src: url("./assets/font/GoldmanSans_W_Lt.woff2");
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: "Goldman Sans";
  src: url("./assets/font/GoldmanSans_W_Md.woff2");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "Goldman Sans";
  src: url("./assets/font/GoldmanSans_W_MdIt.woff2");
  font-weight: medium;
  font-style: italic;
}

@font-face {
  font-family: "Goldman Sans";
  src: url("./assets/font/GoldmanSans_W_Rg.woff2");
  font-weight: regular;
  font-style: normal;
}
@font-face {
  font-family: "Goldman Sans";
  src: url("./assets/font/GoldmanSans_W_Th.woff2");
  font-weight: extraLight;
  font-style: normal;
}
@font-face {
  font-family: "Goldman Sans";
  src: url("./assets/font/GoldmanSansCd_W_Bd.woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Goldman Sans";
  src: url("./assets/font/GoldmanSansCd_W_Rg.woff2");
  font-weight: regular;
  font-style: normal;
}

:root {
  font-family: "Goldman Sans", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */
  color: #878787;
  background-color: rgb(241, 241, 241);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #404040;
}
