:root {
  font-family: "Goldman Sans", sans-serif !important;
  line-height: 1.5 !important;
  font-weight: 400 !important;
  color: #242424 !important;
  background-color: rgba(255, 255, 255) !important;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  box-sizing: border-box;
}
html {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}
body {
  margin: 0;
  padding: 20px 40px;
}

@font-face {
  font-family: "Goldman Sans" !important;
  src: url("./assets/GoldmanSans_W_Lt.woff2");
  font-weight: 300;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #404040 !important;
  font-family: "Goldman Sans" !important;
  font-weight: 300 !important;
}
a {
  text-decoration: none;
  color: #404040;
}
